{% comment %} 
This will be displayed on the homepage. Ideally, you want to highlight key goals of the website
{% endcomment %}

<section class="usa-hero">
  <div class="grid-container">
    <div class="usa-hero__callout">
      <h2 class="usa-hero__heading"><span class="usa-hero__heading--alt">Hero callout:</span>Transforming the Department of Defense through AI 
      </h2>
      <p>Leadership in military AI technology is critical to the future of United States’ national security. The JAIC is the focal point for the execution of the DoD AI Strategy</p>
      <a class="usa-button" href="javascript:void(0)">Learn More</a>
    </div>
  </div>
</section>
